# Documentation build
site/

# Testing generated projects
mon-projet-data-science/

# Python environments
.venv/
venv/
__pycache__/
*.pyc
.coverage
coverage.xml

# Distribution / packaging
*.egg-info/
dist/
build/
